/* body */

body {
	margin: 0;
}


/* Bordered form */
form {
    border: 3;
}


/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #87CEFA;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button-selection-option {
    width: 19%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Add padding to containers */
.container {
    padding: 1% 1%;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

/* nav */
nav {
	width: 100%;
	background-color: #1ac6ff;
	padding: 5px 10px;
	
}

/* H */
h1 {
	margin: 1%;
}

/* dashboard */

/* selector */
.selector {
	max-width: 30%;
}

table.selector-table{
	text-align: left;
}
input[type=date], input[type=time]{
	border: 1px solid #ccc;
	box-sizing: border-box;
}

/* Display */
.dashboardItem {
	max-width: 50%;
	float: left;
}

